<section class="banner-accueil py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-start">
                <h1>Esprit paisible <br> Vie paisible</h1>
                <p>Prenez soin de vous et de votre vie</p>
                <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
            <div class="col-md-6 p-0">
                <img src="assets/banners/img1-accueil.png" alt="banner-accueil" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="px-5 py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="">
            <h3>Nous aidons les personnes qui vivent <br> avec des problèmes de santé mentale</h3>
        </div>
        <div class="">
            <button class="btn btn-primary">
                Voir plus ...
            </button>
        </div>
    </div>

    <div class="cartPM row mb-4">
        <div class="col-md-3">
            <div class="card border-0 shadow">
                <img src="assets/card-img/image 5.png" alt="banner-accueil" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text text-justify">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="nav-link">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0 shadow">
                <img src="assets/card-img/image.png" alt="banner-accueil" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text text-justify">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="nav-link">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0 shadow">
                <img src="assets/card-img/image-1.png" alt="banner-accueil" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text text-justify">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="nav-link">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-0 shadow">
                <img src="assets/card-img/image-2.png" alt="banner-accueil" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text text-justify">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#" class="nav-link">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <h2 class="text-center mb-5">Comment ça marche ?</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex align-items-center border my-3">
                    <div class="border d-flex justify-content-center align-items-center">
                        <span class="icon icon-1">
                            <i class="bi bi-search"></i>
                        </span>
                    </div>
                    <div class="px-3 py-1">
                        <h5>1. Trouvez un professionnel</h5>
                        <p class="m-0">Recherchez des professionnels de la santé mentale.</p>
                    </div>
                </div>
                <div class="d-flex align-items-center border my-3">
                    <div class="border d-flex justify-content-center align-items-center">
                        <span class="icon icon-1">
                            <i class="bi bi-search"></i>
                        </span>
                    </div>
                    <div class="px-3 py-1">
                        <h5>1. Trouvez un professionnel</h5>
                        <p class="m-0">Recherchez des professionnels de la santé mentale.</p>
                    </div>
                </div>
                <div class="d-flex align-items-center border my-3">
                    <div class="border d-flex justify-content-center align-items-center">
                        <span class="icon icon-1">
                            <i class="bi bi-search"></i>
                        </span>
                    </div>
                    <div class="px-3 py-1">
                        <h5>1. Trouvez un professionnel</h5>
                        <p class="m-0">Recherchez des professionnels de la santé mentale.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/banners/img2-accueil.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="px-5 py-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="">
            <h3>Echangez avec des spécialistes de la santé mentale<br> sur le sujet de votre choix</h3>
        </div>
        <div class="">
            <button class="btn btn-primary">
                Voir plus ...
            </button>
        </div>
    </div>

    <div class="cartPM row mb-4">
        <div class="col-md-3">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="assets/profils/image.png" alt="banner-accueil" class="img-fluid w-50 mx-auto shadow">
                <div class="card-body text-center mt-4">
                    <h6 class="card-title">Mamadou Ndiaye</h6>
                    <p class="card-text mt-3">
                        Spécialiste en psychologie sociale
                    </p>
                </div>
                <div class="mt-4">
                    <a href="#" class="btn btn-primary">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="assets/profils/image-1.png" alt="banner-accueil" class="img-fluid w-50 mx-auto shadow">
                <div class="card-body text-center mt-4">
                    <h6 class="card-title">Mamadou Ndiaye</h6>
                    <p class="card-text mt-3">
                        Spécialiste en psychologie sociale
                    </p>
                </div>
                <div class="mt-4">
                    <a href="#" class="btn btn-primary">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="assets/profils/image-2.png" alt="banner-accueil" class="img-fluid w-50 mx-auto shadow">
                <div class="card-body text-center mt-4">
                    <h6 class="card-title">Mamadou Ndiaye</h6>
                    <p class="card-text mt-3">
                        Spécialiste en psychologie sociale
                    </p>
                </div>
                <div class="mt-4">
                    <a href="#" class="btn btn-primary">Découvrir</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="assets/profils/image-3.png" alt="banner-accueil" class="img-fluid w-50 mx-auto shadow">
                <div class="card-body text-center mt-4">
                    <h6 class="card-title">Mamadou Ndiaye</h6>
                    <p class="card-text mt-3">
                        Spécialiste en psychologie sociale
                    </p>
                </div>
                <div class="mt-4">
                    <a href="#" class="btn btn-primary">Découvrir</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/banners/img3-accueil.png" alt="" class="img-fluid">
            </div>

            <div class="col-md-6 d-flex flex-column justify-content-start">
                <h2 class="mb-4">Pourquoi nous ?</h2>

                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium molestias, quas, quos
                    consequuntur aliquam quae, voluptates quod quibusdam doloribus quia doloremque. Quisquam
                    accusantium quae fugiat. Quisquam accusantium quae fugiat.
                </p>

                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium molestias, quas, quos
                    consequuntur aliquam quae, voluptates quod quibusdam doloribus quia doloremque.
                </p>

                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium molestias, quas, quos
                    consequuntur aliquam quae, voluptates.
                </p>

                <div class="d-flex justify-content-start mt-3">
                    <a class="btn btn-primary px-4">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <h2 class="text-center mb-5">Articles populaires</h2>

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner container">
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="assets/articles/image 9.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/articles/image 9.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/articles/image 9.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="assets/articles/image.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/articles/image.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/articles/image.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="assets/articles/image-1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/articles/image-1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/articles/image-1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

<section class="my-5 px-5 text-white">
    <div class="d-flex justify-content-between align-items-center mb-4 bg-info px-5 py-3">
        <div class="">
            <h5>Abonnez-vous à notre newsletter pour recevoir des informations<br> sur nos derniers articles</h5>
        </div>
        <div class="">
            <form action="">
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Votre adresse email">
                    <button class="btn btn-primary">S'abonner</button>
                </div>
            </form>
        </div>
    </div>
</section>
