<header class="p-3 border-bottom">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <i class="pi pi-align-left"></i>
                <a class="link-body-emphasis text-decoration-none mx-2 fw-bold">
                    JamyXeel Dash
                </a>
            </div>

            <div class="d-flex align-items-center">
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="Chercher..." aria-label="Search"
                        data-has-listeners="true">
                </form>

                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" >
                        <li><a class="dropdown-item" href="#">Notification</a></li>
                        <li><a class="dropdown-item" href="#">Paramétres</a></li>
                        <li><a class="dropdown-item" href="#">Mon profil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Se Déconnecter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
